.change-password-page {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3b3a7e0f;

  .change-password-page-container {
    width: 385px;
    height: 400px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 5px 1px lightgray;
    padding: 20px;
  }
}
